
.isc-icon-manager .modal-content.icons {
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;

  .item {
    outline: none;
    .icon {
      min-height: 64px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: white;
      border-radius: 6px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
        0 1px 2px 0 rgba(0, 0, 0, 0.06);
      border: 2px solid transparent;
      font-size: 1.6em;

      & > img {
        width: 1em;
        height: 1em;
      }
    }
    .name {
      margin-top: 0.5rem;
      font-size: 0.7em;
      overflow: hidden;
      textarea {
        width: 100%;
        padding: 0 0.5em;
        font-size: 14px;
        &:disabled {
          padding: 0;
          font-size: 16px;
          border: hidden;
          text-align: center;
          background: transparent;
        }
      }
    }
    .buttons button {
      padding: 4px 8px;
    }
    // &:focus {
    //   .icon {
    //     border-color: rgba(@color-brand-rgb), 0.5;
    //     background: rgba(@color-brand-rgb), 0.05;
    //   }
    //   .name {
    //     color: @color-brand;
    //   }
    // }
  }
}
