.isc-icon {
  vertical-align: middle;
  &.isc-char-icon {
    vertical-align: baseline;
  }
  & > img,
  & > svg {
    cursor: default !important;
    .view-content .mod-cm6 .cm-isc > & {
      cursor: pointer;
    }
    .dimension(1em);
    .markdown-source-view &,
    .markdown-preview-view & {
      .dimension(var(--editor-font-size));
    }
    each(range(6), #(@level) {
      .markdown-source-view .HyperMD-header-@{level} &,
      .markdown-preview-view h@{level} & {
        .dimension(~"var(--h@{level})");
      }
    });
  }
  .callout .callout-icon& {
    & > img,
    & > svg {
      height: 16px;
      width: 16px;
    }
  }

  .suggestion-flair > & {
    color: var(--text-normal);
  }
}

.dimension(@size) {
  height: @size;
  width: @size;
}
