@id: .isc;

.mod-settings {
  @{id}-add-pack-input {
    margin-right: 5px;
  }

  @{id}-settings-custom-icon .dragover {
    position: relative;

    &:before {
      content: "Drop SVG icon(s) here";
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--text-normal);
    }

    background-color: var(--shade-10) ;
    .theme-dark & {
      background-color: var(--shade-40) 
    }
    border-radius: 5px;
    & > * {
      filter: blur(50px);
    }
  }
}
